div.container-dialog {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 25px;
    justify-items: center;
    padding: 10%;
}

div.container-infos {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-row-gap: 25px;
}

img.radius-dialog {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

b.selected-user-name {
    color: darkorange
}